<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <hr style="margin: 20px 0;" />
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- for lpack in site.languages -%}
              {%- if lpack.short == page.lang -%}
                 {%- assign userForum = lpack.userForum -%}
              {%- endif -%}
            {%- endfor -%}
            <li><a class="u-email" href="https://groups.google.com/g/subsurface-divelog">{{userForum}}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

    </div>

  </div>

</footer>
