/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

main, header.site-header, footer {
  margin-left: 160px; /* browsers that don't support calc */
  margin-left: calc(max( 13em , 50% - 400px + 10em ));
}

/** sidebar */
div.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* this is for browsers that don't support calc */
  width: calc(12em);
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  left: calc( max( 0px , 50% - 400px - 8em ) );
  background-color: #fff; /* white */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 1em;
  box-shadow: 0 0 7px rgba(0,0,0,.1);
}

div.logo {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* The navigation menu links */
div.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 80%;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
div.sidebar a:hover {
  color: #414141;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: calc(1em); padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; }
table tr:nth-child(even) { background-color: #f7f7f7; }
table th, table td { padding: 10px 15px; }
table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }

/** Site header */
.site-header {
  min-height: 6em;
  position: relative;
}

.site-title { font-size: 2.5em; font-weight: 600; line-height: 3em; margin-bottom: 0; float: left; }
.site-title, .site-title:visited { color: #204a87; }

.site-nav { float: right; line-height: 30px; text-align: right; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { display: none; }
.site-nav .mobile-nav { display: none; }
.site-nav .page-link { color: #111; line-height: 1.5; }
.site-nav .page-link { margin-left: 20px; }
@media screen and (max-width: 600px) {
  .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg { fill: #424242; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav input ~ .trigger .mobile-nav { display: none; }
  .site-nav input:checked ~ .trigger .mobile-nav { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .sidebar { display: none; }
  main, header.site-header, footer { margin-left: 0px; }
}
/** Site footer */

.contact-list, .social-media-list { list-style: none; margin-left: 0; }
.footer-col-wrapper { font-size: 15px; color: #828282; margin-left: -15px; }
.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }
.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }
.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }
.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); }
}

@media screen and (max-width: 600px) {
  .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); }
}

/** Page content */
.page-content { padding: 30px 0; flex: 1; }
.page-heading { font-size: 32px; }
.post-list-heading { font-size: 28px; }
.post-list { margin-left: 0; list-style: none; }
.post-list > li { margin-bottom: 30px; }
.post-meta { font-size: 14px; color: #828282; }
.post-link { display: block; font-size: 24px; }

/** Posts */
.post-header { margin-bottom: 30px; }
.post-title { font-size: 1.5em; letter-spacing: -1px; line-height: 1; }
.post-content { margin-bottom: 30px; }
.page-content .post-content h1 { font-size: 1.5em; }
.page-content .post-content h2 { font-size: 1.3em; }
.page-content .post-content h3 { font-size: 1.2em; }
.page-content .post-content h4 { font-size: 1.1em; }
